@{
    ViewData[ViewResourcesHRV.Naslov] = ViewNaslovi.Login;
}

<div class="login-container">
    <div class="login-details">
        <div class="login-form">
            <img class="login-img-logo" src="~/img/books-logo.jpg" alt=@ViewResourcesHRV.Login_LogoAltTekst title=@ViewResourcesHRV.Login_Dobrodosli />
            <h2 class="sign-up">@ViewResourcesHRV.Login_Prijava</h2>
            <label class="login-welcome">@ViewResourcesHRV.Login_PrijaviteSe</label>
            <div class="login-other">
                <button class="btn-other">
                    <img class="other-logo" src="~/img/google-logo.png" alt=@ViewResourcesHRV.Login_GoogleLogo />
                    @ViewResourcesHRV.Login_GooglePrijava
                </button>
                <button class="btn-other">
                    <img class="other-logo" src="~/img/apple-logo.png" alt=@ViewResourcesHRV.Login_AppleLogo />
                    @ViewResourcesHRV.Login_ApplePrijava
                </button>
            </div>
        </div>
    </div>
    <div class="login-details">
        <img class="login-img" src="~/img/login-img.jpg" />
     </div>
</div>

<style>
    body
    {
        background-color: #deebcb;
    }

    div.login-container {

     /* Rad sa starijim preglednicima koji ne podržavaju flexbox: */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

     /* Postavljanje širine i visine u odnosu na BODY: */
        width:60%;
        height:80%;

     /* Najmoderniji pristup: Flexbox layout model */
        background-color:white;
        display: flex;
        align-items: center;     /* Centriranje sadržaja vertikalno   */
        justify-content: center; /* Centriranje sadržaja horizontalno */
        border-radius: 25px;     /* Dodavanje zaobljenih rubova       */
    }

    div.login-details
    {
        flex: 1; /* Oznaka da se jednako dijeli prostor između svih child elemenata */
        height: 100%;
    }

    /* Stilizacija DIV-a za unos LOGIN detalja (lijevo područje): */
    div.login-details:first-child
    {
        background-color:white;

        /* Centriranje svih child elemenata DIV-a uz pomoć flexboxa */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.login-form
    {
        width: 80%;
        height: 80%;
        border-radius: 30px;
        background-color: white;

        /* Centriranje child elemenata horizontalno na sredinu: */
        display: flex;
        align-items: center;
        justify-content: normal;

        /* Prikaz child elemenata jedan ispod drugog: */
        flex-direction: column;
        gap: 5px;
    }

    img.login-img-logo
    {
        margin-top:30px;
        height:50px;
        width:50px;
    }

    h2.sign-up
    {
        font-family: Britannic;
        font-weight: bold;
        font-size: 300%;
        line-height: 1.2;
        color: #404040;
    }

    label.login-welcome
    {
        font-family: Calibri;
        font-size: 80%;
        color: #404040;
    }

    div.login-other
    {
        width: 100%;
        height: 8%;
        background-color: white;

        /* Element služi kao container za dvije slike koje se prikazuju jedna pored druge */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    button.btn-other
    {
        background-color:white;
        border-radius: 15px;
        border: 1px solid #404040;
        font-family: Calibri;
        font-size: 80%;
        color: #404040;
        width:40%;
        height: 90%;

        display:flex;
        align-items:center;
        justify-content: center;
    }

    img.other-logo
    {
        max-width:100%; /* Osiguranje da slika ne premašuje širinu roditeljskog DIV elementa */
        height: auto; /* Visina slike će se automatski prilagoditi kako bi zadržala originalan omjer */
        width:10%;
        padding-right:5px;
    }

    /* Stilizacija DIV-a za LOGIN sliku (desno područje): */
    div.login-details:last-child
    {
        background-color:white;
    }

    img.login-img
    {
        max-width: 100%; /* Osiguranje da slika ne premašuje širinu roditeljskog DIV elementa */
        height: auto;    /* Visina slike će se automatski prilagoditi kako bi zadržala originalan omjer */
        padding: 15px;
        border-radius: 30px;
    }
</style>